
/* --------------------------------------------- 

* Filename:     custom-style.css
* Version:      1.0.0 (2019-01-22)
* Website:      http://www.zymphonies.com
* Description:  System Style
* Author:       Zymphonies Team
                info@zymphonies.com

-----------------------------------------------*/

@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700');

body{
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  line-height: 1.62em;
  color: #444;
  overflow-x: hidden;
}

p{ margin: 0 0 20px 0; }

.h1, .h2, .h3, h1, h2, h3 {
  margin-top: 10px;
  margin-bottom: 20px;
}

h1, .h1{ font-size: 2em; font-weight: normal; color: #333; }

h2, .h2{ font-size: 1.8em; font-weight: normal; color: #333; }

h3, .h3{ font-size: 1.6em; font-weight: normal; color: #333; }

h4, .h4{ font-size: 1.4em; font-weight: normal; color: #333; }

img{ max-width: 100%; }

a{
  color: #FB5A02;
}

a:hover{
  color: #FB5A02;
}

ol, ul {
  padding-left: 15px;
}

ul.links.inline{
  padding: 0;
}

ul.links.inline li{
  list-style: none;
}

.block{
  margin-bottom: 20px;
}

.main-header{
  padding: 10px 0;
  background-size: cover;
  position: relative;
}

.main-menuwrap nav{
  border: 0;
  margin: 0;
  position: relative;
  z-index: 2;
  border-radius: 0;
  min-height: auto;
}

.main-header .region{
  position: relative;
  z-index: 2;
  margin-bottom: 0px;
}

.main-header .region-header{
  display: inline-block;
}

/*region header*/

.site-branding{
  margin: 0;
}

.brand.logo{
  margin-right: 5px;
}

.region-header .brand{
  display: inline-block;
  vertical-align: middle;
  line-height: 100%;
  color: #666;
}

.site-name a{
  font-size: 22px;
  color: #272727;
}

.site-name a:hover{
  text-decoration: none;
}

/*Banner*/

.welcome-banner-text{
  text-align: center;
  line-height: 160%;
  max-width: 600px;
  padding: 90px 0;
}

.welcome-banner-text h2{
  font-size: 30px;
  font-weight: bold;
  color: #fff;
}

/*top widget*/

.topwidget{
  padding: 20px 0;
}

.topwidget .fa{
  font-size: 60px;
  background: #4D4F4A;
  width: 120px;
  height: 120px;
  padding: 32px;
  border-radius: 50%;
  color: #fff;
  margin-bottom: 20px;
}

.topwidget .region{
  background: #FCFCFC;
  border: 1px solid #F1F1F1;
  padding: 15px;
}

.topwidget h2{
  margin-top: 0;
}

.topwidget p{

}

.topwidget p:last-child{
  margin: 0;
}

/*footerwidget*/

.footerwidget{
  background: #272727;
  color: #8A8A8A;
  padding: 10px 0;
}

.footerwidget img.left{
  float: left;
  margin: 10px 10px 0 0;
}

.copyright{
  background: #000;
  color: #777;
}

.copyright p{
  margin: 13px 0;
}

.footerwidget h2,
.footerwidget .h2{
  color: #FFF;
}

/*bottom-widgets*/

.bottom-widgets{
  text-align: center;
  background: #FBFBFB;
  padding: 10px 0;
}

.bottom-widgets .region{
  padding: 10px;
  background: #DEDEDE;
}

/*Footer menu*/

.footer-menu{
  margin: 0;
  border: 0;
  background: #3C3B3B;
  color: #fff;
}

.footer-menu ul{
  margin: 10px 0;
  padding: 0;
}

.footer-menu nav li{
  display: inline-block;
}

.footer-menu nav li a{
  display: block;
  padding: 4px 20px 4px 0;
}

.google_map p,
.google_map .block{
  margin: 0;
}

.google_map iframe{
  display: block;
}

/*Credit link*/

.credit-link{
  text-align: left;
}

/*SOCIAL MEDIA*/

.social-media{
  margin: 10px 0;
  overflow: hidden;
  text-align: center;
  display: none;
}

.social-media a {
  width: 30px;
  height: 30px;
  color: #fff;
  display: inline-block;
  margin: 0 10px 0 0;
  text-align: center;
  background: #3262b9;
  font-size: 14px;
  line-height: 220%;
  border-radius: 50%;
  -webkit-border-radius: 50%;
}

.social-media a.google-plus{
  background: #de2020;
}

.social-media a.twitter{
  background: #29C5F6;
}

.social-media a.linkedin{
  background: #069;
}

.social-media a.pinterest{
  background: #C61118;
}

.social-media a.rss{
  background: #FF6D00;
}

.social-media a:hover{
  opacity: .6;
}

/*FORM*/

input, button, select, textarea{
  padding: 5px;
  border: 1px solid #C7C7C7;
}

.contact-message-form label{
  display: block;
}

.btn, 
input[type="submit"]{
  background-image: -ms-linear-gradient(top, #FFFFFF 0%, #E3E3E3 100%);
  background-image: -moz-linear-gradient(top, #FFFFFF 0%, #E3E3E3 100%);
  background-image: -o-linear-gradient(top, #FFFFFF 0%, #E3E3E3 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #FFF), color-stop(1, #E3E3E3));
  background-image: -webkit-linear-gradient(top, #FFF 0%, #E3E3E3 100%);
  background-image: linear-gradient(top, #FFFFFF 0%, #E3E3E3 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFF', endColorstr='#E3E3E3');
  border: 1px solid #dbdbdb;
  color: #333;
  font-weight: bold;
  padding: 5px;
}

.btn:hover, 
input[type="submit"]:hover{
  color: #333;
  border: 1px solid #dbdbdb;
  background-image: -ms-linear-gradient(top, #DBDBDB 0%, #F2F2F2 100%);
  background-image: -moz-linear-gradient(top, #DBDBDB 0%, #F2F2F2 100%);
  background-image: -o-linear-gradient(top, #DBDBDB 0%, #F2F2F2 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #DBDBDB), color-stop(1, #F2F2F2));
  background-image: -webkit-linear-gradient(top, #DBDBDB 0%, #F2F2F2 100%);
  background-image: linear-gradient(top, #DBDBDB 0%, #F2F2F2 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#DBDBDB', endColorstr='#F2F2F2');
}

/*FRONT PAGE*/

.path-frontpage .feed-icon{
  display: none;
}

/*MENU*/

.navbar-default .navbar-toggle{
  background: #fff;
  margin-right: 0;
}

nav h2{
  display: none;
}

.menu-base-theme,
.menu-base-theme a, 
.menu-base-theme a:hover, 
.menu-base-theme a:focus, 
.menu-base-theme a:active, 
.menu-base-theme a.highlighted{
  background: none;
}

.menu-base-theme li a{
  background: #FBFBFB;
  color: #000;
}

.main-menu {
  position: relative;
  z-index: 9999;
}

.region-primary-menu{
  display: none;
  background: #fff;
  width: 100%;
  margin-top: 20px;
}

.menu-base-theme a{
  border-bottom: 1px solid #EEF0F7;
}

.menu-base-theme a span.sub-arrow{
  color: #999;
  font-size: 22px;
  padding: 5px;
  border-radius: 2px;
  border: 1px solid #DCDCDC;
  background: #EFEFEF;
} 

.navbar-toggle{
  z-index: 999;
  background: #333;
}

.navbar-toggle .icon-bar {
  background: #ffff;
}

/*breadcrumb*/

.breadcrumb{
  background: none;
  padding: 0;
  margin: 0;
  border-bottom: 1px solid #eee;
}

.breadcrumb ul,
.breadcrumb ol{
  padding: 0;
}

.breadcrumb ul li,
.breadcrumb ol li{
  display: inline-block;
  padding-right: 10px;
}

.breadcrumb ul li:after,
.breadcrumb ol li:after{
  content: ">";
  padding-left: 10px;
}

.breadcrumb ul li:last-child:after,
.breadcrumb ol li:last-child:after{
  content: "";
  padding: 0px;
}

/*search form*/

.region-search{
  display: none;
}

#search-block-form{
  display: table;
  width: 100%;
}

#search-block-form .form-item,
#search-block-form .form-actions{
  display: table-cell;
  vertical-align: top;
}

.block-search input{
  width: 100%;
}

.block-search{
  margin: 0;
}

/*Demo typography*/

.bd-example {
  position: relative;
  padding: 20px;
  border: 2px solid #f7f7f9;
}

.highlight{
  padding: 20px;
  background-color: #f7f7f9;
}

.highlight pre{
  border: 0;
  background: none;
}

.bd-example-type .table tr:first-child td {
  border-top: 0;
}

.bd-example-type h1, 
.bd-example-type h2, 
.bd-example-type h3, 
.bd-example-type h4, 
.bd-example-type h5, 
.bd-example-type h6 {
  margin: 0;
}

.bd-example-type .table td {
  padding: 15px 0;
  border-color: #eee;
}

/*Contact form*/

.path-contact{}

.contact-message-feedback-form{
  max-width: 650px;
  margin: 0 auto;
  border: 1px solid #D8D8D8;
  padding: 10px 30px;
  background: #F5F5F4;
}

.contact-message-feedback-form .form-text,
.contact-message-feedback-form .form-email,
.contact-message-feedback-form .form-textarea{
  width: 100%;
}

/*user-login-form*/

.user-login-form,
.user-form,
.user-pass{
  max-width: 650px;
  margin: 40px auto;
  border: 1px solid #ddd;
  padding: 10px 30px;
  background: #FBFBFB;
}

.user-login-form .form-text,
.user-login-form .form-email,
.user-form .form-text,
.user-form .form-email,
.user-pass .form-text{
  width: 100%;
}

.form-composite > .fieldset-wrapper > .description, 
.form-item .description {
  font-size: 11px;
  color: #999;
  font-style: italic;
}

/*Maintainance*/

.maintenance-page{
  background: url(../images/maintenance-bg.png) #66CBFF center no-repeat;
  color: #fff;
  text-align: center;
  padding-top: 220px;
  padding-bottom: 100px;
  font-size: 18px;
  color: #000;
}

.maintenance-msg {
  margin: 20px 0;
  background: rgba(242, 244, 207, 0.88);
  padding: 20px 30px;
  display: inline-block;
  color: #404040;
  border: 1px solid #fff;
  box-shadow: 5px 5px 0px #FFFFFF;
  font-size: 14px;
}

.maintenance-msg h1{
  text-transform: uppercase;
  font-weight: bold;
}

.maintenance-page .brand,
.maintenance-page .name-and-slogan{
  display: inline-block;
  vertical-align: middle;
}

.maintenance-page .site-name a{
  color: #404040;
}

.maintenance-page .site-slogan,
.maintenance-page .name-and-slogan{
  display: none;
}

/*Comment*/

.comment-wrap{
  overflow: hidden;
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #F5F5F5;
}

.comment-wrap .author-details{
  float: left;
  width: 20%;
}

.comment-wrap .author-comments{
  padding-left: 5px;
  float: left;
  width: 80%;
}

.comment-submitted{
  padding: 5px 10px;
  border: 1px solid #eee;
  font-size: 12px;
  margin-bottom: 5px;
  display: block;
}

.comment-wrap .author-comments h3{
  margin-top: 10px;
}

.comment-wrap .author-comments p{
  margin-bottom: 10px;
}

/*links inline*/

ul.links.inline li{
  display: inline-block;
  padding-right: 10px;
}

/*profile*/

.profile > div{
  padding-right: 5px;
  display: inline-block;
  vertical-align: top;
}

.profile h4.label{
  color: #333;
  display: block;
  text-align: left;
  margin-bottom: 5px;
}

/*Carousel*/

.slideshow{
  display: none;
}

.carousel-inner>.item>a>img,
.carousel-inner>.item>img{
  width: 100%;
}

.carousel-control.left,
.carousel-control.right{
  width: 50px;
  height: 50px;
  background: #000;
  top: 50%;
  padding: 12px;
  margin-top: -25px;
}

/*flexslider*/

.flexslider{
  border: 0;
}

.flexslider .slides > li{
  position: relative;
}

.flexslider .slider-caption{
  display: none;
  position: absolute;
  z-index: 99;
  background: rgba(255, 255, 255, 0.67);
  bottom: 50px;
  padding: 20px;
  left: 50px;
  width: 50%;
  font-size: 1.2em;
  line-height: 140%;
}

.flexslider .slider-title{
  margin-top: 0;
  font-size: 1.8em;
}

.flexslider .flex-direction-nav a{
  font-size: 0;
}

.flexslider .flex-direction-nav a:before{
  color: #fff;
  padding-top: 10px;
}

.price-table .region{
  background: #eee;
  padding: 20px;
}

.price-table .card-header h2{
  color: #ff4a00;
}

.price-table .card-title{
  color: green;
}

.price-table .block{
  margin: 0;
}

/* custom */

.main-menuwrap {
  margin-bottom: 10px !important;
}

.breadcrumb {
  display: none;
}

.region-sidebar-first {
  border: 1px solid #eee;
  padding: 0 10px;
}

.region-sidebar-first ul {
  list-style: none;
}

#block-hulpmiddelen h2 {
  display: block;
}

.custom-homepage {
  border-bottom: 1px solid #eee;
}

#block-showcontent-content {
  min-height: 800px;
}

h2#node-titles {
  margin-bottom: 0;
}

.custom-homepage .comment-submitted {
  padding: 5px 0px;
  border: 0;
}

.node--view-mode-full .node__content {
  margin: 10px 0;
}

.video-full .video-thumbnail img{
  width: 100%;
  height: auto;
}

.copyright .container {
  margin-bottom: -1px;
}

.node--view-mode-full img {
  width: auto;
  height: auto;
}

#views-exposed-form-picturelist-picture-list {
  display: none;
}

.path-picturelist .views-field-field-image-library-paragraphs ul,
.path-picturelist .views-field-field-vid ul {
  list-style: none;
}

.path-picturelist .views-field-field-primary-article-image,
.path-picturelist .views-field-field-image-inline-video,
.path-picturelist .views-field-field-image-library-video {
  padding-left: 15px;
}

.path-picturelist #block-showcontent-content .views-row {
  border-top: 1px solid #ccc;
}