{#
/**
 * @file
 * Default template for feed displays that use the RSS style.
 *
 * Available variables:
 * - link: The link to the feed (the view path).
 * - namespaces: The XML namespaces (added automatically).
 * - title: The title of the feed (as set in the view).
 * - description: The feed description (from feed settings).
 * - langcode: The language encoding.
 * - channel_elements: The formatted channel elements.
 * - items: The feed items themselves.
 *
 * @see template_preprocess_views_view_rss()
 *
 * @ingroup themeable
 */
#}
<?xml version="1.0" encoding="utf-8"?>
<rss 
  xmlns:atom="http://www.w3.org/2005/Atom"
  xmlns:media="http://search.yahoo.com/mrss/"
  xmlns:mi="http://schemas.ingestion.microsoft.com/common/"
  xmlns:dc="http://purl.org/dc/elements/1.1/"
  xmlns:dcterms="http://purl.org/dc/terms/" version="2.0">
  <channel>
    <title>Showcontent.be</title>
    <link>http://showbizzcontent.be</link>
    <description>{{ description }} </description>
    <language>nl</language>
    {{ channel_elements }}
    {{ items }}
  </channel>
</rss>
