{#
/**
 * @file
 * Default theme implementation to display an item in a views RSS feed.
 *
 * Available variables:
 * - title: RSS item title.
 * - link: RSS item link.
 * - description: RSS body text.
 * - item_elements: RSS item elements to be rendered as XML (pubDate, creator,
 *   guid).
 *
 * @see template_preprocess_views_view_row_rss()
 *
 * @ingroup themeable
 */
#}
<item>
  <guid isPermalink="false">{{ video_xml_guid }}</guid>
  <title>{{ title }}</title>
  <pubDate>{{ video_xml_pubDate }}</pubDate>
  <dcterms:modified>{{ video_xml_modified }}</dcterms:modified>
  <link>{{ link }}</link>
  <dc:creator>AUTHOR</dc:creator>
  <description>{{ video_xml_body }}</description>
  <media:keywords>keyword1,keyword2,keyword3</media:keywords>
  <category>News</category>
  <category>Sports</category>
  <media:content duration="{{ video_xml_length }}" type="video/mp4" medium="video" url="{{ video_xml_url }}">
    <media:thumbnail url="" height="{{ video_xml_thumbnail_height }}" width="{{ video_xml_thumbnail_width }}" />
    <media:title>{{ video_xml_thumbnail_title }}</media:title>
    <media:description>
      {{ video_xml_body }}
    </media:description>
    {# <media:description>{{ output_html }}</media:description> #}
    {# <media:description2><![CDATA[ <p>test</p> ]]></media:description2> #}
    <media:credit>{{ video_xml_copyright }}</media:credit>
  </media:content>
  {# {% for item in item_elements -%}
    <{{ item.key }}{{ item.attributes -}}
    {% if item.value -%}
      >{{ item.value }}</{{ item.key }}>
    {% else -%}
      {{ ' />' }}
    {% endif %}
  {%- endfor %} #}
</item>
