form .info {
  display: block;
}

form .summary-info {
  display: inline !important;
  margin-left: 5px;
}


form .ok,
form .ok input {
  color: green;
}

form .has-error,
form .has-error input {
  color: red;
}

#edit-group-news-publish {
  padding: 10px;
}
#edit-scheduler-settings {
  padding: 20px;
}

.js-form-item-publish-on-0-value-time {
  /*display: none !important;*/
}
