.node-article-form .layout-region-node-main,
.node-article-edit-form .layout-region-node-main,
.node-article-form .layout-region-node-secondary,
.node-article-edit-form .layout-region-node-secondary,
.node-article-form .layout-region-node-footer,
.node-article-edit-form .layout-region-node-footer,
.node-inline-slideshow-form .layout-region-node-main,
.node-inline-slideshow-edit-form .layout-region-node-main,
.node-inline-slideshow-form .layout-region-node-secondary,
.node-inline-slideshow-edit-form .layout-region-node-secondary,
.node-inline-slideshow-form .layout-region-node-footer,
.node-inline-slideshow-edit-form .layout-region-node-footer {
  width: 100%;
}

.node-article-form .layout-region-node-secondary {
  margin-top: 50px;
}

.node-article-form .layout-region-node-main,
.node-article-edit-form .layout-region-node-main,
.node-inline-slideshow-form .layout-region-node-main,
.node-inline-slideshow-edit-form .layout-region-node-main {
  padding-right: 0;
}

.node-article-form .selected-images-info-container {
  /* width: 15%; */
  background-color: #fcfcfa;
  border: 1px solid #c0c0c0;
}

/* .node-article-form .paragraphs-subform {
  width: 85%;
} */

/* .node-article-form .paragraphs-dropbutton-wrapper,
.node-inline-video-form .paragraphs-dropbutton-wrapper,
.node-inline-slideshow-form .paragraphs-dropbutton-wrapper {
  display: none;
}

.path-node .media-library-widget-modal .media-library-item--grid:not(.checked) {
  display: none !important;
}

.field--name-field-images .media-library-selection .media-library-item--grid {
  width: 20%;
}

.path-node .media-library-widget-modal {
  width: 100% !important;
  top: 0 !important;
  left: 0 !important;

}

.path-node .media-library-widget-modal .view-filters,
.path-node .media-library-widget-modal .view-header,
.path-node .media-library-widget-modal .pager {
  display: none !important;
}

.media-library-widget-modal .ui-dialog-content {
  height: 85vh !important;
  max-height: 85vh !important;
}

.media-library-widget-modal .media-library-add-form__fields {
  width: 100%;
}

.media-library-widget-modal .form-item-name {
  width: 30%;
  display: inline-block;
  word-break: break-all;
}

.media-library-widget-modal .field--name-field-art-img-alt,
.media-library-widget-modal .field--name-field-inline-ss-title{
  width: 28%;
}

.media-library-widget-modal .field--name-field-art-img-copyright,
.media-library-widget-modal .field--name-field-inline-ss-copyright {
  width: 28%;
  float: left;
}

.media-library-widget-modal .field--name-field-art-img-description,
.media-library-widget-modal .field--name-field-inline-ss-description {
  float: right;
  width: 70%;
  margin-top: -135px;
}

.media-library-widget-modal .filter-wrapper {
  display: none;
}

.media-library-widget-modal .cke_contents {
  height: 110px !important;
} */

.field--name-field-primary-article-image,
.field--name-field-primary-inline-slideshow-i,
.field--name-field-image-inline-video {
/* #edit-field-image-inline-video-wrapper { */
  padding: 1em 1.5em;
  border-radius: 3px 3px 0 0; 
  border: 1px solid #bfbfbf;
  background-color: #fcfcfa;
}

#edit-field-primary-article-image-0-top-paragraph-type-title,
#edit-field-image-inline-video-0-top-paragraph-type-title {
/* #edit-field-primary-inline-slideshow-i-0-top-paragraph-type-title { */
  letter-spacing: 0.08em;
  text-transform: uppercase;
  font-size: 1em;
  font-weight: bold;
}

#field_art_prime_img_lib-media-library-wrapper-field_primary_article_image-0-subform,
#field_is_primary_image_lib-media-library-wrapper-field_primary_inline_slideshow_i-0-subform,
#field_primary_inline_video_lib-media-library-wrapper-field_image_inline_video-0-subform {
  border: none;
  padding: 25px 0 0 0;
  margin: 0;
}

#edit-field-primary-article-image-0-top,
#edit-field-primary-inline-slideshow-i-0-top,
#edit-field-image-inline-video-0-top {
  display: none;
}

.field--name-field-primary-article-image .field--name-field-alt,
.field--name-field-primary-article-image .field--name-field-copyright,
.field--name-field-primary-inline-slideshow-i .field--name-field-alt,
.field--name-field-primary-inline-slideshow-i .field--name-field-copyright,
.field--name-field-image-inline-video .field--name-field-alt,
.field--name-field-image-inline-video .field--name-field-copyright,
.field--name-field-image-library-video .field--name-field-alt,
.field--name-field-image-library-video .field--name-field-copyright,
.field--name-field-image-library-paragraphs .field--name-field-alt,
.field--name-field-image-library-paragraphs .field--name-field-copyright,
.field--name-field-image-library-is .field--name-field-alt,
.field--name-field-image-library-is .field--name-field-copyright {
  padding: 0 10px;
}

.field--name-field-primary-article-image .media-library-item__preview,
.field--name-field-primary-inline-slideshow-i .media-library-item__preview,
.field--name-field-image-inline-video .media-library-item__preview,
.field--name-field-image-library-paragraphs .media-library-item__preview {
  padding-bottom: 0;
}

.field--name-field-primary-article-image .media-library-selection,
.field--name-field-primary-inline-slideshow-i .media-library-selection,
.field--name-field-image-inline-video .media-library-selection {
  margin: 0;
}

.field--name-field-primary-article-image .media-library-item__name,
.field--name-field-primary-inline-slideshow-i .media-library-item__name,
.field--name-field-image-inline-video .media-library-item__name,
.field--name-field-image-library-paragraphs .media-library-item__name {
  display: none;
}

.node-article-form .field--name-field-image-library-paragraphs {
  display: none;
}

.node-article-edit-form .field--name-field-image-library-paragraphs {
  display: block;
}

.node-article-edit-form .field--name-field-image-library {
  display: none;
}

.field--name-field-primary-article-image .field--name-field-art-prime-img-lib,
.field--name-field-primary-inline-slideshow-i .field--name-field-is-primary-image-lib,
.field--name-field-image-inline-video .field--name-field-primary-inline-video-lib,
.field--name-field-image-library-paragraphs .field--name-field-paragraph-image {
  width: 20%;
}

.field--name-field-image-library-paragraphs .field--name-field-paragraph-image fieldset {
  border: none;
  padding: 12px 18px;
  margin: 0 !important;
  background-color: transparent;
}

.field--name-field-primary-article-image .media-library-selection .media-library-item--grid,
.field--name-field-primary-inline-slideshow-i .media-library-selection .media-library-item--grid,
.field--name-field-image-inline-video .media-library-selection .media-library-item--grid,
.field--name-field-image-library-paragraphs .media-library-selection .media-library-item--grid {
  width: 100%;
}

.field--name-field-primary-article-image .media-library-selection .media-library-item--grid .field--type-string .field__label,
.field--name-field-primary-article-image .media-library-selection .media-library-item--grid .field--type-string .field__item,
.field--name-field-primary-inline-slideshow-i .media-library-selection .media-library-item--grid .field--type-string .field__label,
.field--name-field-primary-inline-slideshow-i .media-library-selection .media-library-item--grid .field--type-string .field__item,
.field--name-field-image-inline-video .media-library-selection .media-library-item--grid .field--type-string .field__label,
.field--name-field-image-inline-video .media-library-selection .media-library-item--grid .field--type-string .field__item,
.field--name-field-image-library-video .media-library-selection .media-library-item--grid .field--type-string .field__label,
.field--name-field-image-library-video .media-library-selection .media-library-item--grid .field--type-string .field__item,
.field--name-field-image-library-is .media-library-selection .media-library-item--grid .field--type-string .field__label,
.field--name-field-image-library-is .media-library-selection .media-library-item--grid .field--type-string .field__item,
.field--name-field-image-library-paragraphs .media-library-selection .media-library-item--grid .field--type-string .field__label,
.field--name-field-image-library-paragraphs .media-library-selection .media-library-item--grid .field--type-string .field__item {
  display: inline-block;
  word-break: break-all;
}

.field--name-field-primary-article-image .media-library-selection .media-library-item--grid .field--type-string .field__label:after,
.field--name-field-primary-inline-slideshow-i .media-library-selection .media-library-item--grid .field--type-string .field__label:after,
.field--name-field-image-inline-video .media-library-selection .media-library-item--grid .field--type-string .field__label:after,
.field--name-field-image-library-video .media-library-selection .media-library-item--grid .field--type-string .field__label:after,
.field--name-field-image-library-paragraphs .media-library-selection .media-library-item--grid .field--type-string .field__label:after,
.field--name-field-image-library-is .media-library-selection .media-library-item--grid .field--type-string .field__label:after {
  content: ": ";
}

.field--name-field-primary-article-image .paragraphs-subform,
.field--name-field-primary-inline-slideshow-i .paragraphs-subform,
.field--name-field-image-inline-video .paragraphs-subform,
.field--name-field-image-library-paragraphs .paragraphs-subform {
  display: flex;
}

.field--name-field-primary-article-image .field--name-field-art-prime-title,
.field--name-field-primary-inline-slideshow-i .field--name-field-is-primary-image-title,
.field--name-field-image-inline-video .field--name-field-inline-vid-caption,
.field--name-field-image-library-paragraphs .field--name-field-paragraph-description {
  width: 75%;
}

.field--name-field-primary-article-image .field--name-field-art-prime-img-lib fieldset .description,
.field--name-field-primary-inline-slideshow-i .field--name-field-is-primary-image-lib fieldset .description,
.field--name-field-image-inline-video .field--name-field-primary-inline-video-lib fieldset .description,
.field--name-field-image-library-paragraphs .field--name-field-paragraph-image fieldset .description {
  display: none;
}

.field--name-field-image-library-paragraphs .filter-wrapper {
  display: none;
}

.field--name-field-image-library-paragraphs .cke_contents {
  height: 155px !important;
}

.form-item-name {
  display: none;
}

.media-library-add-form--with-input .media-library-add-form__fields {
  width: 100%
}

.media-library-add-form--with-input .field--type-string .form-item {
  display: flex;
}

.media-library-add-form--with-input .field--type-string label::after {
  display: none !important;
}

.media-library-add-form--with-input .field--type-string label {
  width: 5%;
  margin: 0 5px 0 0;
  padding-top: 4px;
  text-align: right;
  
}

.global-alt-copy-transfer-btn {
  margin-left: 0 !important;
}